# Created by Vercel CLI
OPENAI_API_KEY=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
# The temperature controls how much randomness is in the output
AI_TEMP=0.9
# The size of the response
AI_MAX_TOKENS=100
OPENAI_API_ORG=
